<h1>Editing Diagnostic Procedure</h1>

<%= render 'form', diagnostic_procedure: @diagnostic_procedure %>

<%= link_to 'Show', @diagnostic_procedure %> |
<%= link_to 'Back', diagnostic_procedures_path %>
